
/* hotspot styling */
  .hotspot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
  }

  .annotation{
      width: auto;
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
  }

  .hotspot.selected{
    background-color: red;
  }

  .hotspot:not(.selected) > .annotation{
    display: none;
  }



  /* not important document styling */
#displayblocks{
  display: flex;
  justify-content: center;
}

#modelblock{
  width: 80vw;
  height: 80vh;
  margin: 10vh 0px 0px 0px;

}

#formblock{
  width: 40vw;
  margin: 10vh 0px 0px 0px;
 
  height: 80vh;
  background-color: white;
}
.center{
  display: flex;
  justify-content: center;

}

.btn{
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 2px 4px 2px;
  cursor: pointer;
}


input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 50px 10% 0px 10%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  